<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class='search-bar-contents'>
    <%= link_to image_tag("furima-logo-color.png", class:"furima-icon"), "/" %>
    <%= form_with(url: search_items_path, local: true, method: :get, class: "search-form") do |f| %>
      <%= f.text_field :keyword, class:'input-box', placeholder: 'キーワードから探す' %>
      <button class="search-button">
        <%= image_tag "search.png", class:"search-icon" %>
      </button>
    <% end %>
  </div>
  <div id='nav', class='nav'>
    <ul class='lists-left'>   
      <div id= "category-lists", class= "category-lists">
        <li><%= link_to 'カテゴリー', "#", id: "category-list", class: "category-list" %></li>
          <ul id="show-lists", class="show-lists hidden">
            <li class="pull-down-list">
              <%= link_to 'レディース', "#", class: "category-pull-down-list"%>
            </li>
            <li class="pull-down-list">
              <%= link_to 'メンズ', "#", class: "category-pull-down-list"%>
            </li>
            <li class="pull-down-list">
              <%= link_to 'ベビー・キッズ', "#", class: "category-pull-down-list"%>
            </li>
            <li class="pull-down-list">
              <%= link_to 'インテリア・住まい・小物', "#", class: "category-pull-down-list"%>
            </li>
            <li class="pull-down-list">
              <%= link_to '本・音楽・ゲーム', "#", class: "category-pull-down-list"%>
            </li>
            <li class="pull-down-list">
              <%= link_to 'おもちゃ・ホビー・グッズ', "#", class: "category-pull-down-list"%>
            </li>
            <li class="pull-down-list">
              <%= link_to '家電・スマホ・カメラ', "#", class: "category-pull-down-list"%>
            </li>
            <li class="pull-down-list">
              <%= link_to 'スポーツ・レジャー', "#", class: "category-pull-down-list"%>
            </li>
            <li class="pull-down-list">
              <%= link_to 'ハンドメイド', "#", class: "category-pull-down-list"%>
            </li>
            <li class="pull-down-list">
              <%= link_to 'その他', "#", class: "category-pull-down-list"%>
            </li>
          </ul>
      </div>
      <li><%= link_to 'ブランド', "#", class: "brand-list" %></li>
    </ul>
    <ul class='lists-right'>
      <% if user_signed_in? %>
        <%# deviseを導入できたら、ログインの有無で表示が変わるように分岐させましょう%>
        <li><%= link_to current_user.nickname, "#", class: "user-nickname" %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
        <%# //deviseを導入できたら、ログインの有無で表示が変わるように分岐させましょう%>
      <% end %>
    </ul>
  </div>
</header>