<%= render "shared/header" %>

<div class='parents-brand-title'>
  <h2 class='brand-title'>ブランド一覧</h2>
  <div>
    <div class='gra-parents-kana-list'>ア 〜 オ</div>
    <ul class='parents-kana-list'>
      <div>
        <li class='kana-list'>
          <%= link_to 'アーバン リサーチ', '/brand/アーバンリサーチ', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'アズタイム', '/brand/アズタイム', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'イーエム', '/brand/イーエム', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'イズリール', '/brand/イズリール', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ヴァージニア', '/brand/ヴァージニア', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ウォルター', '/brand/ウォルター', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'エアジョーダン', '/brand/エアジョーダン', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'エプソン', '/brand/エプソン', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'オーシャンパシフィック', '/brand/オーシャンパシフィック', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'オーラリー', '/brand/オーラリー', class: "kana-brand-list"%>
        </li>
      </div>
      <div>
        <li class='kana-list'>
          <%= link_to 'アーカーゲー', '/brand/アーカーゲー', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'アップル', '/brand/アップル', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'イエガー', '/brand/イエガー', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'イッセイミヤケ', '/brand/イッセイミヤケ', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ウィルトン', '/brand/ウィルトン', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ウルヴァリン', '/brand/ウルヴァリン', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'エイチアンドエム', '/brand/エイチアンドエム', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'エルメス', '/brand/エルメス', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'オーディエンス', '/brand/オーディエンス', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'オスカー', '/brand/オスカー', class: "kana-brand-list"%>
        </li>
      </div>
      <div>
        <li class='kana-list'>
          <%= link_to 'アシックス', '/brand/アシックス', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'アンドエヌ', '/brand/アンドエヌ', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'イグニス', '/brand/イグニス', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'インディオ', '/brand/インディオ', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ウエストシー', '/brand/ウエストシー', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ヴィアヌ', '/brand/ヴィアヌ', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'エンジェルハート', '/brand/エンジェルハート', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'エレコム', '/brand/エレコム', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'オーバーコート', '/brand/オーバーコート', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'オリンパス', '/brand/オリンパス', class: "kana-brand-list"%>
        </li>
      </div>
    </ul>
  </div>
  <div>
    <div class='gra-parents-kana-list'>カ 〜 コ</div>
    <ul class='parents-kana-list'>
      <div>
        <li class='kana-list'>
          <%= link_to 'カーサノイ', '/brand/カーサノイ', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'カッシーナ', '/brand/カッシーナ', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'キエラ', '/brand/キエラ', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'キャサリン ミッシェル', '/brand/キャサリンミッシェル', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'クイーン ケリー', '/brand/クイーンケリー', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'グッチ', '/brand/グッチ', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ケイト', '/brand/ケイト', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ケステル', '/brand/ケステル', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'コアラキッズ', '/brand/コアラキッズ', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'コーチ', '/brand/コーチ', class: "kana-brand-list"%>
        </li>
      </div>
      <div>
        <li class='kana-list'>
          <%= link_to 'カエン', '/brand/カエン', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'カルティエ', '/brand/カルティエ', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'キコ', '/brand/キコ', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'キャメル', '/brand/キャメル', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'クロエ', '/brand/クロエ', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'クリスティーニューヨーク', '/brand/クリスティーニューヨーク', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ケインズ', '/brand/ケインズ', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ケティ', '/brand/ケティ', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'コエトムブラウン', '/brand/コエトムブラウン', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'コートメール', '/brand/コートメール', class: "kana-brand-list"%>
        </li>
      </div>
      <div>
        <li class='kana-list'>
          <%= link_to 'カシオ', '/brand/カシオ', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'カルバン クライン', '/brand/カルバンクライン', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'キタムラ', '/brand/キタムラ', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'キャノン', '/brand/キャノン', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'クーパー', '/brand/クーパー', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'クロムハーツ', '/brand/クロムハーツ', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ケービーエフ', '/brand/ケービーエフ', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ケンゾー', '/brand/ケンゾー', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'コーエン', '/brand/コーエン', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'コロンブス', '/brand/コロンブス', class: "kana-brand-list"%>
        </li>
      </div>
    </ul>
  </div>
  <div>
    <div class='gra-parents-kana-list'>サ 〜 ソ</div>
    <ul class='parents-kana-list'>
      <div>
        <li class='kana-list'>
          <%= link_to 'サーカス', '/brand/サーカス', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'サマンサ タバサ', '/brand/サマンサタバサ', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'シアターエイト', '/brand/シアターエイト', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'シェイナー', '/brand/シェイナー', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'スイートキャサリン', '/brand/スイートキャサリン', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'スキニーリップ', '/brand/スキニーリップ', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'セオリー', '/brand/セオリー', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'セドリックシャルリエ', '/brand/セドリックシャルリエ', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ソアリーク', '/brand/ソアリーク', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ソフィー', '/brand/ソフィー', class: "kana-brand-list"%>
        </li>
      </div>
      <div>
        <li class='kana-list'>
          <%= link_to 'サクラ', '/brand/サクラ', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ザ ノース フェイス', '/brand/ザノースフェイス', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'シーグリーン', '/brand/シーグリーン', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'シャネル', '/brand/シャネル', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ステラマッカートニー', '/brand/ステラマッカートニー', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'スワロフスキー', '/brand/スワロフスキー', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'セリーヌ', '/brand/セリーヌ', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'セブンユニオン', '/brand/セブンユニオン', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ソー', '/brand/ソー', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ソフネット', '/brand/ソフネット', class: "kana-brand-list"%>
        </li>
      </div>
      <div>
        <li class='kana-list'>
          <%= link_to 'サテライト', '/brand/サテライト', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ザラ', '/brand/ザラ', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'シーシーエム', '/brand/シーシーエム', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'シャープ', '/brand/シャープ', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'スカーフ', '/brand/スカーフ', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'スティーブンアラン', '/brand/スティーブンアラン', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'セキスイ', '/brand/セキスイ', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'セントジョン', '/brand/セントジョン', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ソニアシー', '/brand/ソニアシー', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ソレイユ', '/brand/ソレイユ', class: "kana-brand-list"%>
        </li>
      </div>
    </ul>
  </div>
  <div>
    <div class='gra-parents-kana-list'>タ 〜 ト</div>
    <ul class='parents-kana-list'>
      <div>
        <li class='kana-list'>
          <%= link_to 'ターカー', '/brand/ターカー', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'タタミ', '/brand/タタミ', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'チーク', '/brand/チーク', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'チェルシー', '/brand/チェルシー', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ツイン', '/brand/ツイン', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ツープラスアルファ', '/brand/ツープラスアルファ', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ティーエイチシー', '/brand/ティーエイチシー', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ティムハミルトン', '/brand/ティムハミルトン', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'トウキョウカグ', '/brand/トウキョウカグ', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'トスカーナ', '/brand/トスカーナ', class: "kana-brand-list"%>
        </li>
      </div>
      <div>
        <li class='kana-list'>
          <%= link_to 'タシナミ', '/brand/タシナミ', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'タリー', '/brand/タリー', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'チーズ', '/brand/チーズ', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'チカ', '/brand/チカ', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ツータックス', '/brand/ツータックス', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ツツミ', '/brand/ツツミ', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ディオール', '/brand/ディオール', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'デリトワール', '/brand/デリトワール', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to '東芝', '/brand/トウシバ', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'トップマン', '/brand/トップマン', class: "kana-brand-list"%>
        </li>
      </div>
      <div>
        <li class='kana-list'>
          <%= link_to 'タスク', '/brand/タスク', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'タンデム', '/brand/タンデム', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'チェリーココ', '/brand/チェリーココ', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'チョコレートシューバー', '/brand/チョコレートシューバー', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ツーピース', '/brand/ツーピース', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ツル', '/brand/ツル', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ティファニー', '/brand/ティファニー', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ディズニー', '/brand/ディズニー', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'トーマスマイヤー', '/brand/トーマスマイヤー', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'トミースポーツ', '/brand/トミースポーツ', class: "kana-brand-list"%>
        </li>
      </div>
    </ul>
  </div>
  <div>
    <div class='gra-parents-kana-list'>ナ 〜 ノ</div>
    <ul class='parents-kana-list'>
      <div>
        <li class='kana-list'>
          <%= link_to 'ナイキ', '/brand/ナイキ', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ナチュラル ビューティー', '/brand/ナチュラルビューティー', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ニコマート', '/brand/ニコマート', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ニッポン', '/brand/ニッポン', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ヌアボ', '/brand/ヌアボ', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ヌメラルズ', '/brand/ヌメラルズ', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ネイキッドクイーン', '/brand/ネイキッドクイーン', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ネックアンドネック', '/brand/ネックアンドネック', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ノアール', '/brand/ノアール', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ノーコメントパリ', '/brand/ノーコメントパリ', class: "kana-brand-list"%>
        </li>
      </div>
      <div>
        <li class='kana-list'>
          <%= link_to 'ナイキスポーツウェア', '/brand/ナイキスポーツウェア', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ナデシコ', '/brand/ナデシコ', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ニコン', '/brand/ニコン', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ニュートラルカラー', '/brand/ニュートラルカラー', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ヌール', '/brand/ヌール', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ヌメロウーノ', '/brand/ヌメロウーノ', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ネイブ', '/brand/ネイブ', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ネフ', '/brand/ネフ', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ノエラ', '/brand/ノエラ', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ノーネーム', '/brand/ノーネーム', class: "kana-brand-list"%>
        </li>
      </div>
      <div>
        <li class='kana-list'>
          <%= link_to 'ナイトレイド', '/brand/ナイトレイド', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ナノ ユニバース', '/brand/ナノユニバース', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ニノ', '/brand/ニノ', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ニューバランス', '/brand/ニューバランス', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ヌビアン', '/brand/ヌビアン', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ヌンク', '/brand/ヌンク', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ネクスト', '/brand/ネクスト', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ネメス', '/brand/ネメス', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ノーイーストーリー', '/brand/ノーイーストーリー', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ノスタリズム', '/brand/ノスタリズム', class: "kana-brand-list"%>
        </li>
      </div>
    </ul>
  </div>
  <div>
    <div class='gra-parents-kana-list'>ハ 〜 ホ</div>
    <ul class='parents-kana-list'>
      <div>
        <li class='kana-list'>
          <%= link_to 'ハーレー', '/brand/ハーレー', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'バレンシアガ', '/brand/バレンシアガ', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ヒッチハイク', '/brand/ヒッチハイク', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ヒューマノイド', '/brand/ヒューマノイド', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ブルガリ', '/brand/ブルガリ', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to '富士通', '/brand/フジツウ', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ヘイデン', '/brand/ヘイデン', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ヘラクレス', '/brand/ヘラクレス', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ホーキンス', '/brand/ホーキンス', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ホリデイ', '/brand/ホリデイ', class: "kana-brand-list"%>
        </li>
      </div>
      <div>
        <li class='kana-list'>
          <%= link_to 'ハドソン', '/brand/ハドソン', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'バーバリー', '/brand/バーバリー', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to '日立', '/brand/ヒタチ', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ヒルサイド', '/brand/ヒルサイド', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ファブリックジャム', '/brand/ファブリックジャム', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to '富士フィルム', '/brand/フジフィルム', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ヘッドポーター', '/brand/ヘッドポーター', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ヘリーハンセン', '/brand/ヘリーハンセン', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ホフマン', '/brand/ホフマン', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ホワイトバッファロー', '/brand/ホワイトバッファロー', class: "kana-brand-list"%>
        </li>
      </div>
      <div>
        <li class='kana-list'>
          <%= link_to 'ハリー ウィンストン', '/brand/ハリーウィンストン', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'パタゴニア', '/brand/パタゴニア', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ヒューストン', '/brand/ヒューストン', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ヒルトン', '/brand/ヒルトン', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'フェローズ', '/brand/フェローズ', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'プラダ', '/brand/プラダ', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ヘミングス', '/brand/ヘミングス', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ヘンリーロンドン', '/brand/ヘンリーロンドン', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ホリスター', '/brand/ホリスター', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ポーター', '/brand/ポーター', class: "kana-brand-list"%>
        </li>
      </div>
    </ul>
  </div>
  <div>
    <div class='gra-parents-kana-list'>マ 〜 モ</div>
    <ul class='parents-kana-list'>
      <div>
        <li class='kana-list'>
          <%= link_to 'マーク ジェイコブス', '/brand/マークジェイコブス', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'マカロニアン', '/brand/マカロニアン', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ミーンズワイル', '/brand/ミーンズワイル', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ミズノ', '/brand/ミズノ', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ムーミンベビー', '/brand/ムーミンベビー', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to '無印良品', '/brand/ムジルシリョウヒン', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'メイソンズ', '/brand/メイソンズ', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'メゾンミッシェル', '/brand/メゾンミッシェル', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'モーシャン', '/brand/モーシャン', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'モスキーノ', '/brand/モスキーノ', class: "kana-brand-list"%>
        </li>
      </div>
      <div>
        <li class='kana-list'>
          <%= link_to 'マークマクナイリー', '/brand/マークマクナイリー', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'マギエラ', '/brand/マギエラ', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ミクスタ', '/brand/ミクスタ', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to '三菱電機', '/brand/ミツビシデンキ', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ムーンスター', '/brand/ムーンスター', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ムスクコレクション', '/brand/ムスクコレクション', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'メインブース', '/brand/メインブース', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'メナード', '/brand/メナード', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'モーテル', '/brand/モーテル', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'モダニズム', '/brand/モダニズム', class: "kana-brand-list"%>
        </li>
      </div>
      <div>
        <li class='kana-list'>
          <%= link_to 'マイクロソフト', '/brand/マイクロソフト', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to '松下電工', '/brand/マツシタデンコウ', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ミスターハーツ', '/brand/ミスターハーツ', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ミックスセンス', '/brand/ミックスセンス', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ムーンストーン', '/brand/ムーンストーン', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ムラサキスポーツ', '/brand/ムラサキスポーツ', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'メゾンドフルール', '/brand/メゾンドフルール', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'メルト', '/brand/メルト', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'モーブス', '/brand/モーブス', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'モノグラム', '/brand/モノグラム', class: "kana-brand-list"%>
        </li>
      </div>
    </ul>
  </div>
  <div>
    <div class='gra-parents-kana-list'>ヤ・ユ・ヨ</div>
    <ul class='parents-kana-list'>
      <div>
        <li class='kana-list'>
          <%= link_to 'ヤードエトセトラ', '/brand/ヤードエトセトラ', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ヤンガニー', '/brand/ヤンガニー', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ユーアーセレクト', '/brand/ユーアーセレクト', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ユナイテッドトーキョー', '/brand/ユナイテッドトーキョー', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ヨークランド', '/brand/ヨークランド', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ヨハンセルファティ', '/brand/ヨハンセルファティ', class: "kana-brand-list"%>
        </li>
      </div>
      <div>
        <li class='kana-list'>
          <%= link_to 'ヤコブコーエン', '/brand/ヤコブコーエン', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ヤマハ', '/brand/ヤマハ', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ユージービー', '/brand/ユージービー', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ユニクロ', '/brand/ユニクロ', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ヨーロピアンカルチャー', '/brand/ヨーロピアンカルチャー', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ヨギボー', '/brand/ヨギボー', class: "kana-brand-list"%>
        </li>
      </div>
      <div>
        <li class='kana-list'>
          <%= link_to 'ヤボンスキー', '/brand/ヤボンスキー', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ヤングハーツ', '/brand/ヤングハーツ', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ユナイテッドアローズ', '/brand/ユナイテッドアローズ', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ユニバーサルワークス', '/brand/ユニバーサルワークス', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ヨガスプラウト', '/brand/ヨガスプラウト', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ヨン', '/brand/ヨン', class: "kana-brand-list"%>
        </li>
      </div>
    </ul>
  </div>
  <div>
    <div class='gra-parents-kana-list'>ラ 〜 ロ</div>
    <ul class='parents-kana-list'>
      <div>
        <li class='kana-list'>
          <%= link_to 'ラーキンス', '/brand/ラーキンス', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ラゲージ', '/brand/ラゲージ', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'リアクト', '/brand/リアクト', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'リーブルメゾン', '/brand/リーブルメゾン', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ルイ ヴィトン', '/brand/ルイヴィトン', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ル サン パレイユ', '/brand/ルサンパレイユ', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'レイジートウキョウ', '/brand/レイジートウキョウ', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'レクソン', '/brand/レクソン', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ロイヤル', '/brand/ロイヤル', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ローレール', '/brand/ローレール', class: "kana-brand-list"%>
        </li>
      </div>
      <div>
        <li class='kana-list'>
          <%= link_to 'ライオンハート', '/brand/ライオンハート', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ラストフォーライフ', '/brand/ラストフォーライフ', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'リアライズ', '/brand/リアライズ', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'リーボック', '/brand/リーボック', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ルーカスジャック', '/brand/ルーカスジャック', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ルシウス', '/brand/ルシウス', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'レイトンハウス', '/brand/レイトンハウス', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'レックスモーダ', '/brand/レックスモーダ', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ローカルルーツ', '/brand/ローカルルーツ', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ロックマウント', '/brand/ロックマウント', class: "kana-brand-list"%>
        </li>
      </div>
      <div>
        <li class='kana-list'>
          <%= link_to 'ラグズユナイト', '/brand/ラグズユナイト', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ラルフローレン', '/brand/ラルフローレン', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'リーバイス', '/brand/リーバイス', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'リドム', '/brand/リドム', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ルートスリー', '/brand/ルートスリー', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ルメール', '/brand/ルメール', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'レイルズ', '/brand/レイルズ', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'レベッカ', '/brand/レベッカ', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ローハス', '/brand/ローハス', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ロビンローズ', '/brand/ロビンローズ', class: "kana-brand-list"%>
        </li>
      </div>
    </ul>
  </div>
  <div>
    <div class='gra-parents-kana-list'>ワ・ヲ</div>
    <ul class='parents-kana-list'>
      <div>
        <li class='kana-list'>
          <%= link_to 'ワールドワーカーズ', '/brand/ワールドワーカーズ', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ワックス', '/brand/ワックス', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ヲヨヨ', '/brand/ヲヨヨ', class: "kana-brand-list"%>
        </li>
      </div>
      <div>
        <li class='kana-list'>
          <%= link_to 'ワイアールユー', '/brand/ワイアールユー', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ワンダーエイト', '/brand/ワンダーエイト', class: "kana-brand-list"%>
        </li>
      </div>
      <div>
        <li class='kana-list'>
          <%= link_to 'ワイレッド', '/brand/ワイレッド', class: "kana-brand-list"%>
        </li>
        <li class='kana-list'>
          <%= link_to 'ワンメイド', '/brand/ワンメイド', class: "kana-brand-list"%>
        </li>
      </div>
    </ul>
  </div>
</div>

<%= link_to new_item_path do %>
  <div class='purchase-btn'>
    <span class='purchase-btn-text'>出品する</span>
      <%= image_tag 'camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
  </div>
<% end %>
<%= render "shared/footer" %>